/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}
/* End for testing */



.page{
  width: 93%;
  max-width: 700px;
  margin: 0 auto;
}

/*MAIN SECTIONS*/
.section{
  font-size: 0.81em;
  padding: 2em 0;
}

.section hr{
 margin-bottom: 2em;
}

.row{
  margin: 0;
  max-width: none;
}



/*intro*/
.intro h2{
  font-size: 1.3em;
}

.intro p{
  margin-bottom: 1em;
}

/*portfolio*/
.portfolio ul li{
  position: relative;
}

.portfolio h2{
background: rgba(0, 0, 0, 0.74);
color: #DEDEDE;
float: left;
position: absolute;
top: -1.5em;
margin-left: 1.5em;
right: 1.5em;
padding: 1em;
z-index: 50;
text-transform: uppercase;
font-size: 0.8em;
}

/*FOOTER*/


/*MEDIA QUERIES*/
@media screen and (min-width: 1023px){
  .page{
    margin: 0 auto;
    max-width: none;
    width: 80%;
  }

  .intro, .form, .center{
    text-align: center;
  }

  .intro h2{
  font-size: 2em;
  }

  p, li{
  font-size: 1.5em;
  margin-bottom: 1em;
  }

  h1{
    width: 100%;
    margin: 1em 0;
  }

  .portfolio h1{
  text-align: right;
  }
}
