/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}
/* End for testing */





/*FOOTER*/


/*MEDIA QUERIES*/
@media screen and (min-width: 1023px){
  .page{
    margin: 0 auto;
    max-width: none;
    width: 80%;
  }

  .intro, .form, .center{
    text-align: center;
  }

  .intro h2{
  font-size: 2em;
  }

  p, li{
  font-size: 1.5em;
  margin-bottom: 1em;
  }

  h1{
    width: 100%;
    margin: 1em 0;
  }

  .portfolio h1{
  text-align: right;
  }
}
